# Email Settings
EMAIL_HOST=imap.gmail.com
EMAIL_USER=tu_correo@gmail.com
EMAIL_PASS=tu_contraseña_de_aplicacion
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587

# API Keys
ANTHROPIC_API_KEY=tu_claude_api_key
VT_API_KEY=tu_virustotal_api_key

# Application Settings
COMPANY_TECHS=Google Chrome,Windows,Fortinet,Oracle,WordPress,Red Hat,Ubuntu
DATA_DIR=./data
