groq==0.5.0
python-dotenv==1.0.1
requests==2.31.0
openpyxl==3.1.2
pandas==2.2.1
PyPDF2==3.0.1
edge-tts
wappalyzer

# Web app
streamlit>=1.32.0
pyotp>=2.9.0
qrcode[pil]>=7.4.2
bcrypt>=4.1.2
pyyaml>=6.0.1
